<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoralSafe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CoralSafe.styles.css" asp-append-version="true" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/coralsafe.png" width="60" height="52" alt="imagem coral" />
                CoralSafe
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Feed" asp-action="Index">Feed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Ong" asp-action="Cadastrar">Ong</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input type="search" class="form-control me-2" placeholder="Search" aria-label="Search">
                </form>
                <div>
                    <a asp-area="" asp-controller="User" asp-action="Register" class="btn btn-secondary btn-lg">
                        <i class="fas fa-comments"></i> Register
                    </a>
                    <a asp-area="" asp-controller="User" asp-action="Login" class="btn btn-secondary btn-lg">
                        <i class="fas fa-comments"></i> Login
                    </a>
                </div>
            </div>
        </div>
    </nav>
            @RenderBody()
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CoralSafe - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
