@{
    ViewData["Title"] = "Home Page";
}

<style>
    

    .full-screen {
        height: 700px; /* Altura fixa para a imagem de fundo */
        width: 100%;
        background-image: url('https://marine-conservation.org/wp-content/uploads/2022/06/OceanImageBank_TraceyJennings_Raja_Ampat_Sea_Fan-scaled.jpg');
        background-size: cover;
        background-position: center;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center; /* Centraliza o texto verticalmente */
    }

    .centered-text {
        text-align: center;
    }

    
</style>
<div class="full-screen">
    <div class="centered-text">
        <h1 class="display-4">Seja bem-vindo ao CoralSafe</h1>
        <p> Futuro maior projeto de reestruturação de corais do mundo </p>
    </div>
</div>






<style>  
import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

    .fl-row-content-wrap {
        display: flex;
        justify-content: center; /* Centraliza o conteúdo horizontalmente */
        align-items: center; /* Centraliza o conteúdo verticalmente */
        height: 100vh; /* Faz o container ocupar a altura total da tela */
        font-family: 'Open Sans', sans-serif; /* Usa a fonte Open Sans */
        font-weight: 300; /* Define a espessura da fonte */
       
        text-align: center; /* Centraliza o texto */
        padding: 20px; /* Adiciona um pouco de espaço em volta do texto */
    }

    .fl-module-heading {
        margin: 0 80px; /* Margens laterais para não pegar a tela toda */
        padding: 80px 0; /* Espaço entre as barras e o texto */
        border-top: 20px solid #e0e0e0; /* Adiciona uma barra quase invisível acima do texto */
        border-bottom: 20px solid #e0e0e0; /* Adiciona uma barra quase invisível abaixo do texto */
    }

    .fl-heading-text {
        max-width: 80%; /* Limita a largura do texto para não ocupar toda a largura da tela */
        margin: auto; /* Centraliza o texto dentro do seu contêiner */
        word-wrap: break-word; /* Permite que o texto quebre conforme necessário */
    }


</style>


<div class="fl-row fl-row-full-width fl-row-bg-none fl-node-5ecc8988cbb31 fl-row-default-height fl-row-align-center" data-node="5ecc8988cbb31">
    <div class="fl-row-content-wrap">
        <div class="fl-row-content fl-row-full-width fl-node-content">

            <div class="fl-col-group fl-node-5ecc8988d611e fl-col-group-custom-width" data-node="5ecc8988d611e">
                <div class="fl-col fl-node-5ecc8988d622b fl-col-small" data-node="5ecc8988d622b">
                    <div class="fl-col-content fl-node-content"></div>
                </div>
                <div class="fl-col fl-node-5ecc8988d622f fl-col-small-custom-width" data-node="5ecc8988d622f">
                    <div class="fl-col-content fl-node-content">
                        <div class="fl-module fl-module-heading fl-node-5ecc89ad478ad" data-node="5ecc89ad478ad">
                            <div class="fl-module-content fl-node-content">
                                <h2 class="fl-heading">
                                    <span class="fl-heading-text">
                                        A saúde dos recifes de coral ao redor do mundo está em declínio acelerado devido a diversos fatores ambientais e humanos. Esses ecossistemas vitais, que abrigam uma vasta biodiversidade marinha e sustentam milhões de vidas humanas por meio da pesca e do turismo, enfrentam ameaças graves como o branqueamento dos corais, a invasão de espécies nocivas e a poluição. O branqueamento dos corais, desencadeado pelo aumento da temperatura dos oceanos, pode levar à morte desses organismos essenciais. Espécies invasoras, como certas algas e estrelas-do-mar, competem com os corais por recursos, causando danos significativos. Além disso, a poluição, tanto química quanto plástica, prejudica a capacidade dos corais de crescer e se reproduzir.
                                        A falta de monitoramento contínuo e eficaz agrava esses problemas, pois métodos tradicionais de observação são intermitentes, caros e muitas vezes incapazes de fornecer dados completos e atualizados. Sem uma vigilância adequada, a detecção precoce de ameaças e a implementação de medidas de conservação eficazes se tornam tarefas árduas. Além disso, a proteção dos recifes de coral frequentemente carece de apoio financeiro e de envolvimento da comunidade, fatores cruciais para a conservação bem-sucedida.
                                    </span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fl-col fl-node-5ecc8988d6231 fl-col-small" data-node="5ecc8988d6231">
                    <div class="fl-col-content fl-node-content"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .carousel-item {
        transition: transform 2s ease, opacity .5s ease-out;
        height: 80vh; /* Ajusta a altura do carrossel */
        background: #000; /* Cor de fundo para melhor contraste com as imagens */
    }

    .carousel-caption {
        background-color: rgba(0,0,0,0.5); /* Fundo semi-transparente para legibilidade do texto */
        border-radius: 10px; /* Bordas arredondadas para a legenda */
        padding: 20px; /* Padding para o texto */
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: #fff; /* Cor de fundo para os ícones de navegação */
        border-radius: 50%; /* Ícones redondos */
    }

    .carousel-indicators button {
        background-color: #fff; /* Indicadores mais visíveis */
    }

    .fl-module-heading {
        margin: 0 80px; /* Margens laterais para não pegar a tela toda */
        padding: 80px 0; /* Espaço entre as barras e o texto */
        border-top: 20px solid #e0e0e0; /* Adiciona uma barra quase invisível acima do texto */
        border-bottom: 1px solid #e0e0e0; /* Adiciona uma barra quase invisível abaixo do texto */
    }

    .carousel-item img {
        width: 100%; /* Garante que a imagem cubra a largura completa do carrossel */
        height: 100%; /* Altura definida para cobrir a área do carrossel */
        object-fit: cover; /* Cobre a área do carrossel sem distorcer a imagem */
    }

</style>

<div class="fl-module-content fl-node-content">
    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://img.freepik.com/fotos-gratis/retrato-de-um-mergulhador-na-agua-do-mar-com-vida-marinha_23-2151456164.jpg?w=740&t=st=1717089467~exp=1717090067~hmac=26103dd65a64a9a2b1435d0ea9eb7bf403016d65b12899ae61014eb0aab0f960" class="d-block w-100" alt="Ocean view ">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Cuindando dos corais para salvar mais vidas</h5>
                    <p>Invista no planeta para ajudar esse seres essenciais</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://assets-global.website-files.com/61525de31de0816b4a168d91/6542c99b3bd3de098e152e2b_recifes_corais_tamandare%CC%81_jonneroriz.jpg" class="d-block w-100" alt="Corais">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Coral apadrinhado por Alef Gabriel</h5>
                    <p>Esse coral da apoio a todo ecossistema marinho da praia do futuro em fortaleza</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://conexao.ufrj.br/wp-content/uploads/2021/09/francesco-ungaro-XYMm4LRKZLE-unsplash-scaled.jpg" class="d-block w-100" alt="Corais">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Coral Apadrinhado pelo Felipe Sieiro</h5>
                    <p>Esse coral fica no mar do brasil em recife e está se recuperando de um branqueamento</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="fl-row fl-row-full-width fl-row-bg-none fl-node-5ecc8988cbb31 fl-row-default-height fl-row-align-center" data-node="5ecc8988cbb31">
    <div class="fl-row-content-wrap">
        <div class="fl-row-content fl-row-full-width fl-node-content">

            <div class="fl-col-group fl-node-5ecc8988d611e fl-col-group-custom-width" data-node="5ecc8988d611e">
                <div class="fl-col fl-node-5ecc8988d622b fl-col-small" data-node="5ecc8988d622b">
                    <div class="fl-col-content fl-node-content"></div>
                </div>
                <div class="fl-col fl-node-5ecc8988d622f fl-col-small-custom-width" data-node="5ecc8988d622f">
                    <div class="fl-col-content fl-node-content">
                        <div class="fl-module fl-module-heading fl-node-5ecc89ad478ad" data-node="5ecc89ad478ad">
                            <div class="fl-module-content fl-node-content">
                                <h2 class="fl-heading">
                                    <span class="fl-heading-text">
                                        Nossa ideia inovadora envolve o uso de drones subaquáticos equipados com câmeras e sensores avançados para monitorar a saúde dos recifes de coral em tempo real. Esses drones coletam dados visuais e químicos detalhados, permitindo a detecção precoce de problemas como o branqueamento dos corais, a invasão de espécies nocivas e os níveis de poluição.
                                        A análise desses dados é realizada por meio de inteligência artificial, que identifica padrões e prevê ameaças futuras. Com essas informações, é possível implementar medidas de conservação mais eficazes e direcionadas, protegendo os recifes de coral de forma proativa.
                                        Quando os drones detectam a deterioração da saúde dos corais, campanhas de ajuda são criadas em nossa plataforma através das ONGs que cuidam desses corais, estabelecendo valores e metas específicas para a recuperação dos recifes afetados.
                                        As pessoas que quiserem contribuir financeiramente para essas campanhas, terá cada real doado, transformado em pontos que podem ser trocados por produtos sustentáveis em nossa plataforma. Dessa forma, incentivamos a participação e o engajamento da comunidade na preservação dos recifes de coral.
                                    </span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fl-col fl-node-5ecc8988d6231 fl-col-small" data-node="5ecc8988d6231">
                    <div class="fl-col-content fl-node-content"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .TextApoiar {
        font-size: 24px; /* Tamanho da fonte do título */
        color: #000; /* Cor azul para o título */
        margin-bottom: 10px; /* Espaço abaixo do título */
        font-family: 'Arial', sans-serif; /* Fonte do título */
    }

    .btn-success {
        background-color: #28a745; /* Cor de fundo verde */
        color: white; /* Cor do texto */
        border: none; /* Sem borda */
        padding: 12px 24px; /* Padding interno para aumentar a área de clique */
        font-size: 18px; /* Tamanho da fonte do botão */
        border-radius: 8px; /* Borda arredondada */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidade */
        transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
    }

        .btn-success:hover {
            background-color: #218838; /* Cor de fundo mais escura ao passar o mouse */
        }

    .accordion-button {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centraliza os itens verticalmente */
        padding: 20px; /* Espaço interno na div */
    }

</style>
<div class="accordion-button">
    <h1 class="TextApoiar">Apoie a campanha e adote um coral </h1>
     <a asp-area="" asp-controller="User" asp-action="PerfilPage" class="btn btn-secondary btn-lg">
                        <i class="fas fa-comments"></i> doar</a>
</div>
